# Dependencies
node_modules/

# Production build
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor & Logs
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite cache & temp files
.vite/
.vercel/
*.tsbuildinfo

# OS metadata
.DS_Store
Thumbs.db